/* styles here */
body {
    margin: 10px;
    padding: 6px;
    line-height: 1.3;
    color: blue;
}

a[href= "https://www.gutenberg.org" ] {  /* targetting href tags*/
    color: darkorchid;
}

nav a { /* different than nav. a.  nav a means target anchor tabs nested inside nav*/
    color: darkcyan;
}

nav {
    text-align: center;
}

h1,h2,h3 {
    margin: 1.2 rem;
    text-align: center;
}

.legal {
   /* font-size: 0.8rem; adding to smallish to combine wiht separator*/
    margin-bottom: 1.5rem;
}

.separator {
    margin: 2rem;
    /*font-size: 0.8rem; adding to smallish to combine with legal */
    text-align: center;
}

.separator::before,
.separator::after { /*pseudo elements*/
    content: ' *** ';
}

.smallish{
    font=size: 1rem;
}

.chapter {
    margin-left: 20%;
    margin-right: 20%;
}

.chapter>p { /*.chapter>p are direct children */
/*margin-top: 1rem;
margin-bottom: 1rem;*/
margin: 1rem 0 1 rem 0; /* does the same thing TRBL (trouble)*/
}

p:nth-of-type(1) { /*pseudo code.  is targetting the first element of type p. The first child that is a paragraph*/
text-align: center;
}

p:nth-of-type(2) {
text-align: right;
}

/*targetting the first line of a paragraph using pseudo classes and pseudo elements*/

p:nth-of-type(3)::first-line {
    font-weight: bold;
}

p:nth-of-type(3)::first-letter{
    font-size: 2em;
}



